{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>{{ loc_name }}</h4>
        </div>
    </div>
</div> 
{% if device_list %}
	{% for dev in device_list %}
            <div class="row">
                <div class="col-md-2">
                    <a href="{% url "sensor" dev.id %}">{{ dev.name_text }}</a>
		</div>
		<div class="col-md-10">
                    {{ dev.type_list }}
		</div>
            </div>
	{% endfor %}
{% else %}
	This location has no devices.
{% endif %}
</div>
{% endblock content %}
